<div id="down">
    <h4> Results APIs</h4>
    <form action="/get_sig_vars9599" method="get">
        <button type="submit">Vars9599</button>
    </form>
    <br><br>
    <form action="/get_avg_vars9599" method="get">
        <button type="submit">Avg Var9599</button>
    </form>
	<br><br>
	<form action="/get_sig_profit_loss" method="get">
        <button type="submit">Profit/Loss</button>
    </form>
	<br><br>
	<form action="/get_tot_profit_loss" method="get">
        <button type="submit">Total Profit/Loss</button>
    </form>
	<br><br>
	<form action="/get_chart_url" method="get">
        <button type="submit">Chart</button>
    </form>
	<br><br>
	<form action="/get_time_cost" method="get">
        <button type="submit">Total Time and Cost</button>
    </form>
	<br><br>
	<form action="/get_audit" method="get">
        <button type="submit">Audit</button>
    </form>
	<br><br>
	<form action="/reset" method="get">
        <button type="submit">Reset</button>
    </form>
	<br><br>
	<form action="/terminate" method="get">
        <button type="submit">Terminate Resources</button>
    </form>
	<br><br>
	<form action="/resources_terminated" method="get">
        <button type="submit">Check terminate</button>
    </form>
</div>





